In [ ]:
import io
import pandas as pd

from google.colab import files
uploaded = files.upload()

df= pd.read_csv(io.BytesIO(uploaded['sampled_crop.csv']))

Saving sampled_crop.csv to sampled_crop.csv

In [ ]:
import io
import pandas as pd

from google.colab import files
uploaded = files.upload()

df= pd.read_csv(io.BytesIO(uploaded['crop.csv']))

Saving crop.csv to crop (1).csv

In [ ]:
df.head()

     State_Name District_Name  Crop_Year  ...          Crop    Area  Production
0  Chhattisgarh      Bilaspur       2000  ...     Arhar/Tur  3295.0      1480.0
1  Chhattisgarh      Bilaspur       2000  ...  Cotton(lint)    13.0         NaN
2  Chhattisgarh      Bilaspur       2000  ...     Groundnut  3094.0      2620.0
3  Chhattisgarh      Bilaspur       2000  ...    Horse-gram  1530.0       316.0
4  Chhattisgarh      Bilaspur       2000  ...         Jowar   571.0       406.0

[5 rows x 7 columns]

In [ ]:
df.size

238056

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.size  # same size after drop_duplicates function implies there are no duplicates in the dataset.

238056

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34008 entries, 0 to 34007
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     34008 non-null  object
 1   District_Name  34008 non-null  object
 2   Crop_Year      34008 non-null  int64
 3   Season         34008 non-null  object
 4   Crop           34008 non-null  object
 5   Area           34008 non-null  float64
 6   Production     33688 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ MB

In [ ]:
#df.isnull().sum() #Finding the number of missing values in each column

In [ ]:
df.describe()

          Crop_Year          Area    Production
count  34008.000000  3.400800e+04  3.368800e+04
mean    2005.692925  1.613259e+04  7.913904e+04
std        4.972469  7.521311e+04  7.130005e+05
min     1997.000000  1.000000e+00  0.000000e+00
25%     2002.000000  1.000000e+02  1.080000e+02
50%     2006.000000  8.290000e+02  9.885000e+02
75%     2010.000000  6.024500e+03  9.387250e+03
max     2014.000000  8.580100e+06  5.310000e+07

In [ ]:
'''df.dropna(subset=["Production"],axis=0,inplace=True)
df.info()'''
df = df.interpolate()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33688 entries, 0 to 34007
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     33688 non-null  object
 1   District_Name  33688 non-null  object
 2   Crop_Year      33688 non-null  int64
 3   Season         33688 non-null  object
 4   Crop           33688 non-null  object
 5   Area           33688 non-null  float64
 6   Production     33688 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 2.1+ MB

In [ ]:
'''
df[["State_Name"]] = df[["State_Name"]].fillna(df[["State_Name"]].mean())

df[["District_Name"]] = df[["District_Name"]].fillna(df[["District_Name"]].mean())

df[["Crop_Year"]] = df[["Crop_Year"]].fillna(df[["Crop_Year"]].mean())

df[["Season"]] = df[["Season"]].fillna(df[["Season"]].mean())

df[["Crop"]] = df[["Crop"]].fillna(df[["Crop"]].mean())

df[["Area"]] = df[["Area"]].fillna(df[["Area"]].mean())

df[["Production"]] = df[["Production"]].fillna(df[["Production"]].mean())

print(df)

df = pd.DataFrame(df)
print (df.dtypes)
'''

df["Yield"] = df["Production"] / df["Area"]

print(df)

         State_Name District_Name  Crop_Year  ...        Crop     Area  Production
0      Chhattisgarh      Bilaspur       2000  ...   Arhar/Tur   3295.0      1480.0
2      Chhattisgarh      Bilaspur       2000  ...   Groundnut   3094.0      2620.0
3      Chhattisgarh      Bilaspur       2000  ...  Horse-gram   1530.0       316.0
4      Chhattisgarh      Bilaspur       2000  ...       Jowar    571.0       406.0
5      Chhattisgarh      Bilaspur       2000  ...       Maize   4548.0      4422.0
...             ...           ...        ...  ...         ...      ...         ...
34003   West Bengal         Nadia       2014  ...        Rice  98286.0    374824.0
34004   West Bengal         Nadia       2014  ...     Sesamum  24546.0     29591.0
34005   West Bengal         Nadia       2014  ...   Sugarcane   1754.0    248215.0
34006   West Bengal         Nadia       2014  ...     Tobacco     12.0        10.0
34007   West Bengal         Nadia       2014  ...        Rice  94963.0    273137.0

[33688 rows x 7 columns]
State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object
         State_Name District_Name  Crop_Year  ...     Area Production       Yield
0      Chhattisgarh      Bilaspur       2000  ...   3295.0     1480.0    0.449165
2      Chhattisgarh      Bilaspur       2000  ...   3094.0     2620.0    0.846800
3      Chhattisgarh      Bilaspur       2000  ...   1530.0      316.0    0.206536
4      Chhattisgarh      Bilaspur       2000  ...    571.0      406.0    0.711033
5      Chhattisgarh      Bilaspur       2000  ...   4548.0     4422.0    0.972296
...             ...           ...        ...  ...      ...        ...         ...
34003   West Bengal         Nadia       2014  ...  98286.0   374824.0    3.813605
34004   West Bengal         Nadia       2014  ...  24546.0    29591.0    1.205532
34005   West Bengal         Nadia       2014  ...   1754.0   248215.0  141.513683
34006   West Bengal         Nadia       2014  ...     12.0       10.0    0.833333
34007   West Bengal         Nadia       2014  ...  94963.0   273137.0    2.876247

[33688 rows x 8 columns]